.container {
    display: flex;
    color: var(--light-text);
    padding: 2rem;
    max-width: 50em;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    padding: 2rem;
}

.container p {
    color: var(--light-text);
}

.card {
    padding: 2rem 0;
}

.darkText{
    color: var(--dark-text);
}